{% extends 'comicloaner.html.twig' %}


{% block body %}
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron jumbo-full jumbotron-fluid jumbo-home active m-0 p-1 pt-4">
            <div class="content w-100 text-center">
                <div class="row m-0 mb-auto">
                    <div class="col-lg-5">
                        <h2>{{ countUser }} Heroes</h2>
                    </div>
                </div>
                <div class="row m-0 p-3 text-lg-center">
                    <div class="col-lg-8">>
                        <h2>{{ comicsUsersHaveCount }} Comics</h2>
                    </div>
                </div>
                <div class="row m-0 p-3 text-lg-center">
                    <div class="col-lg-12">
                        <h2>{{ comicLoanableCount }} Comics Loanable</h2>
                    </div>
                </div>
                <div class="row m-0 p-3">
                    <div class="col-12">
                        <h2>{{ comicRequestsCount }} Help calls</h2>
                    </div>
                </div>
                <div class="row m-0 p-2 text-center">
                    <div class="col-12 ">
                        <h2>{{ comicLoansCount }} Rescues by heroes.</h2>
                    </div>
                </div>
                <div class="row mt-4 p-3">
                    <div class="col-12 text-center">
                        {% if app.user %}
                            <a href="{{ path('home_loan') }}" type="button" class="btn  btn-danger  px-2" id="btn-enter">We
                                need you, Join Us !</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" type="button" class="btn  btn-danger  px-2" id="btn-enter">We
                                need you, Join Us !</a>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}

