{% extends 'comicloaner_simple.html.twig' %}

{% block body %}
    <div class="container-fluid m-0 p-0">
        <section id="topUserCollections" class="m-0 d-flex">
            <div class="my-auto w-100">
                <div class="row my-auto justify-content-around  m-0 mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Best Heroes Collection</h2>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-around">
                    {% for topUser in topUserCollections %}
                        {% set user = topUser.user %}
                        <div class="card comic-loaner-card col-lg-3 mb-4 mx-2 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0 d-flex">
                                    <div class="col-md-8 m-0 text-center">
                                        <div class="col-md-2 m-0">
                                            <img class="avatar-icon rounded-circle border-0 img-thumbnail"
                                                 src="{{ user.avatarPicture ?user.avatarPicture : asset('build/avatar/avatar-deadpool.png') }}">
                                        </div>
                                        <div class="col-md-10 m-0 p-0 text-left my-auto">
                                            <h5 class="marvel-title">{{ user.pseudoname }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ topUser.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 p-1 rounded-0">
                                <div class="row m-0 px-3">
                                    <div class="col-12">
                                        <div class="px-3">
                                            <h5 class="ternary-color text-center">ID Card</h5>
                                            <hr class="hr-text-color-2" data-content="">
                                            <table class="table borderless table-striped mt-2">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Created at</th>
                                                    <td>{{ user.dateCreated ? user.dateCreated|date("Y-m-d")  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>{{ user.country ? user.country  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Town</th>
                                                    <td>{{ user.city ? user.city  : 'Unknown' }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr class="hr-text-color-2" data-content="">
                                        <div class="row mx-auto m-0 p-2 text-center">
                                            <div class=" mx-auto">
                                                <h2 class="title-dark"># {{ loop.index }}</h2>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="topuserloaners" class="m-0 d-flex">
            <div class="my-auto w-100">
                <div class="row my-auto justify-content-around  m-0 mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Best Heroes Rescue</h2>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-around">
                    {% for topUserLoaner in topUserLoaners %}
                        {% set user = topUserLoaner.user %}
                        <div class="card comic-loaner-card col-lg-3 mb-4 mx-2 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0 d-flex">
                                    <div class="col-md-8 m-0 text-center">
                                        <div class="col-md-2 m-0">
                                            <img class="avatar-icon rounded-circle border-0 img-thumbnail"
                                                 src="{{ user.avatarPicture ?user.avatarPicture : asset('build/avatar/avatar-deadpool.png') }}">
                                        </div>
                                        <div class="col-md-10 m-0 p-0 text-left my-auto">
                                            <h5 class="marvel-title">{{ user.pseudoname }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ topUserLoaner.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 p-1 rounded-0">
                                <div class="row m-0 px-3">
                                    <div class="col-12">
                                        <div class="px-3">
                                            <h5 class="ternary-color text-center">ID Card</h5>
                                            <hr class="hr-text-color-2" data-content="">
                                            <table class="table borderless table-striped mt-2">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Created at</th>
                                                    <td>{{ user.dateCreated ? user.dateCreated|date("Y-m-d")  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>{{ user.country ? user.country  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Town</th>
                                                    <td>{{ user.city ? user.city  : 'Unknown' }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr class="hr-text-color-2" data-content="">
                                        <div class="row mx-auto m-0 p-2 text-center">
                                            <div class=" mx-auto">
                                                <h2 class="title-dark"># {{ loop.index }}</h2>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="baduserloaners" class="m-0 d-flex">
            <div class="my-auto w-100">
                <div class="row my-auto justify-content-around  m-0 mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Best Vilains Comics</h2>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-around">
                    {% for badUser in badUserLoaners %}
                        {% set user = badUser.user %}
                        <div class="card comic-loaner-card col-lg-3 mb-4 mx-2 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0 d-flex">
                                    <div class="col-md-8 m-0 text-center">
                                        <div class="col-md-2 m-0">
                                            <img class="avatar-icon rounded-circle border-0 img-thumbnail"
                                                 src="{{ user.avatarPicture ?user.avatarPicture : asset('build/avatar/avatar-deadpool.png') }}">
                                        </div>
                                        <div class="col-md-10 m-0 p-0 text-left my-auto">
                                            <h5 class="marvel-title">{{ user.pseudoname }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ badUser.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 p-1 rounded-0">
                                <div class="row m-0 px-3">
                                    <div class="col-12">
                                        <div class="px-3">
                                            <h5 class="ternary-color text-center">ID Card</h5>
                                            <hr class="hr-text-color-2" data-content="">
                                            <table class="table borderless table-striped mt-2">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Created at</th>
                                                    <td>{{ user.dateCreated ? user.dateCreated|date("Y-m-d")  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>{{ user.country ? user.country  : 'Unknown' }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Town</th>
                                                    <td>{{ user.city ? user.city  : 'Unknown' }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr class="hr-text-color-2" data-content="">
                                        <div class="row mx-auto m-0 p-2 text-center">
                                            <div class=" mx-auto">
                                                <h2 class="title-dark"># {{ loop.index }}</h2>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="topavailablecomics" class="d-flex">
            <div class="my-auto">
                <div class="row justify-content-around  m-0 mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Top Available Comics</h2>
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-around">
                    {% for availableComic in topAvailableComics %}
                        {% set comic = availableComic.comic %}
                        <div class="card comic-card card-transparent col-lg-3 mx-1 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0">
                                    <div class="col-md-8 px-3 m-0">
                                        <h4 class="marvel-title">{{ comic.title }}</h4>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ availableComic.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters m-1">
                                <div class="col-md-4 p-1">
                                    <img src="{{ comic.ThumbnailPicture.getPicturePortraitSD }}"
                                         class="card-img img-fluid p-2"
                                         alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title"></h5>
                                        <p class="card-text">
                                            {% if comic.description is empty %}
                                                No description
                                            {% else %}
                                                {{ comic.description|length > 300 ? comic.description|raw|striptags|slice(0, 300) ~ ' [...]' : comic.description }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right mt-auto">
                                <div class="row p-0 m-0 d-flex justify-content-center">
                                    <div class="col-sm-12 col-md-6 text-center">
                                        <a href="{{ path('comic_show', {'id':comic.id}) }}" type="button"
                                           class="btn btn-danger button-readmore">Read more ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="topcomicloaned" class="d-flex ">
            <div class="my-auto">
                <div class="row justify-content-around mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Top Loanable Comics</h2>
                    </div>
                </div>
                <div class="row justify-content-around  m-0 mb-3">
                    {% for loanableomic in topComicLoanables %}
                        {% set comic = loanableomic.comic %}
                        <div class="card comic-card card-transparent col-lg-3 mx-1 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0">
                                    <div class="col-md-8 px-3 m-0">
                                        <h4 class="marvel-title">{{ comic.title }}</h4>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ loanableomic.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters m-1">
                                <div class="col-md-4 p-1">
                                    <img src="{{ comic.ThumbnailPicture.getPicturePortraitSD }}"
                                         class="card-img img-fluid p-2"
                                         alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title"></h5>
                                        <p class="card-text">
                                            {% if comic.description is empty %}
                                                No description
                                            {% else %}
                                                {{ comic.description|length > 300 ? comic.description|raw|striptags|slice(0, 300) ~ ' [...]' : comic.description }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right mt-auto">
                                <div class="row p-0 m-0 d-flex justify-content-center">
                                    <div class="col-sm-12 col-lg-6 text-center">
                                        <a href="{{ path('comic_show', {'id':comic.id}) }}" type="button"
                                           class="btn btn-danger button-readmore">Read more ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="topRequestedComics" class="d-flex">
            <div class="my-auto">
                <div class="row justify-content-around mb-3">
                    <div class="col-12 text-center p-3">
                        <h2>Top Help Calls To Comics</h2>
                    </div>
                </div>
                <div class="row justify-content-around  m-0 mb-3">
                    {% for requestedComic in topRequestedComics %}
                        {% set comic = requestedComic.comic %}
                        <div class="card comic-card card-transparent col-lg-3 mx-1 p-0">
                            <div class="card-header text-dark p-1">
                                <div class="row no-gutters p-2 m-0">
                                    <div class="col-md-8 px-3 m-0">
                                        <h4 class="marvel-title">{{ comic.title }}</h4>
                                    </div>
                                    <div class="col-md-4 m-0 text-center">
                                        <h3 class="marvel-title counter-top">{{ requestedComic.count }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters m-1">
                                <div class="col-md-4 p-1">
                                    <img src="{{ comic.ThumbnailPicture.getPicturePortraitSD }}"
                                         class="card-img img-fluid p-2"
                                         alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body mt-5">
                                        <h5 class="card-title"></h5>
                                        <p class="card-text">
                                            {% if comic.description is empty %}
                                                No description
                                            {% else %}
                                                {{ comic.description|length > 300 ? comic.description|raw|striptags|slice(0, 300) ~ ' [...]' : comic.description }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right mt-auto">
                                <div class="row p-0 m-0 d-flex justify-content-center">
                                    <div class="col-sm-12 col-md-6 text-center">
                                        <a href="{{ path('comic_show', {'id':comic.id}) }}" type="button"
                                           class="btn btn-danger button-readmore">Read more ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}

