<div class="card comic-card col-lg-5 mb-4 mx-2 p-0">
    <div class="card-header text-dark">
        <div class="row no-gutters p-2 m-0">
            <div class="col-md-10 m-0">
                <h4 class="marvel-title">{{ comic.title }}</h4>
            </div>
            <div class="col-md-2 text-center text-lg-right text m-0 date-on-sale">
                <i class="fas fa-calendar-alt px-1"></i><span>{{ comic.onsaleDate ? comic.onsaleDate | date('Y-m-d') : 'Unknown date ' }}</span>
            </div>
        </div>
    </div>
    <div class="row no-gutters m-1">
        <div class="col-md-4 w-50 mx-auto p-1">
            <img src="{{ comic.ThumbnailPicture.getPicturePortraitSD }}"
                 class="card-img img-fluid p-2"
                 alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    {% if comic.description is empty %}
                        No description
                    {% else %}
                        {{ comic.description|length > 300 ? comic.description|raw|striptags|slice(0, 300) ~ ' [...]' : comic.description }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <div class="row p-0 m-0 d-flex justify-content-center">
            {% if  app.user and activeloan %}
                <div class="col-sm-12 col-md-6 text-center">
                    <button type="button" id="{{ comic.id }}-add"
                            class="btn btn-danger button-add-comic-library"
                            onclick="addToMyLibrary('{{ path('library_comic_add', {'id':comic.id}) }}', {{ comic.id }})"
                            {{ comic.id in comicsUserLibraryIds?'hidden': '' }}>I got It!
                    </button>
                    <button type="button" id="{{ comic.id }}-remove"
                            class="btn btn-danger button-remove-comic-library"
                            onclick="removeFromMyLibrary('{{ path('library_comic_remove', {'id':comic.id}) }}', {{ comic.id }})"
                            {{ comic.id in comicsUserLibraryIds?'' : 'hidden' }}>Remove It !
                    </button>
                </div>
            {% endif %}
            <div class="col-sm-12 col-md-8 col-lg-6 p-0 text-center ">
                <a href="{{ path('comic_show', {'id':comic.id}) }}" type="button" class="btn btn-danger button-readmore w-100">Read more ...</a>
            </div>
        </div>
    </div>
</div>
