<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark fixed-top p-3 pt-4">
    <a class="navbar-brand" href="#">
        <img id="iconlogonavbar" class="img-fluid logo-navbar" src="{{ asset('build/logo-marvel-1.png') }}" alt="">
    </a>
    <button class="navbar-toggler" id="togglerButton" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get("_route") == 'home' %} active {% endif %}">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fa icon  mb-3">F
                    </i>
                    Marvel's World
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa icon  mb-3">W
                        <span class="badge badge-danger">11</span>
                    </i>
                    The Wolrd Loans
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get("_route") == 'character_index' %} active {% endif %}">
                <a class="nav-link" href="{{ path('character_index') }}">
                    <i class="fa icon  mb-3">H
                    </i>
                    Characters
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get("_route") == 'comic_index' %} active {% endif %}">
                <a class="nav-link" href="{{ path('comic_index') }}">
                    <i class="fa icon  mb-3">S
                        <span class="badge badge-warning">8</span>
                    </i>
                    Comics
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa icon  mb-3">G
                        <span class="badge badge-success">22</span>
                    </i>
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-bell icon-sm">
                            <span class="badge badge-info">11</span>
                        </i>
                        Alerts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-envelope icon-sm">
                            <span class="badge badge-success">11</span>
                        </i>
                        Messages
                    </a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <img class="avatar-icon rounded-circle img-thumbnail"
                             src="{{ asset('build/avatar/avatar-deadpool.png') }}">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a class="dropdown-item px-1" href="#">MyProfile</a></li>
                        <li role="presentation"><a class="dropdown-item  px-1" href="{{ path('user_library') }}">My Library</a></li>
                        <li role="presentation"><a class="dropdown-item  px-1" href="#">My Stats</a></li>
                        <li role="presentation"><a class="dropdown-item  px-1" href="{{ path('app_logout') }}">Log
                                out</a>
                        </li>
                    </ul>

                </div>
            {% else %}
                <li class="nav-item  text-center {% if app.request.attributes.get("_route") == 'comic_index' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <div><i class="fas fa-user-circle icon-fas">
                            </i></div>
                  Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<header>

    <div class="jumbotron jumbotron-fluid jumbo-fluidvh m-0 p-0">
        <div class="container-fluid p-0">
            <div class="title-wrapper">
                <h1 class=" header-title glow">Comic-Loan!!!</h1>
                <h2 class="mt-3 p-5 text-center ">Loan it and do what you want beacuse i have no idea!!</h2>
            </div>
        </div>
    </div>
</header>

