<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark fixed-top p-3 pt-4">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img id="iconlogonavbar" class="img-fluid logo-navbar" src="{{ asset('build/logo-marvel-1.png') }}" alt="">
    </a>
    <button class="navbar-toggler" id="togglerButton" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get("_route") == 'home' %} active {% endif %}">
                <a class="nav-link" href="{{ path('home_loan') }}">
                    <i class="fa icon  mb-3">F
                    </i>
                    Loan's Town
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get("_route") == 'home_loan_comics' %} active {% endif %}">
                <a class="nav-link" href="{{ path('home_loan_comics') }}">
                    <i class="fa icon  mb-3">H
                    </i>
                    In Town
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get("_route") == 'loan_request_index' %} active {% endif %}">
                <a class="nav-link" href="{{ path('loan_request_index') }}">
                    <i class="fa icon  mb-3">W
                        {#                        <span class="badge badge-danger">11</span>#}
                    </i>
                    Help Calls
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div>
                        <i class="fab fa-searchengin fas-navbar-xl">
                        </i>
                    </div>
                    Search
                </a>
                <div class="dropdown-menu dropdown-menu-nav" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="{{ path('search_by_comic') }}">By Comics</a>
                    <a class="dropdown-item" href="{{ path('search_by_character') }}">By Characters</a>
                    <a class="dropdown-item" href="{{ path('search_by_comic') }}">By Creators</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Full Search</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ">
            {% if app.user %}

                <li class="nav-item {% if app.request.attributes.get("_route") == 'user_request_calls' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('user_request_calls') }}">
                        <i class="fa fa-bell icon-sm">
                        </i>
                        Help Calls!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_helps') }}">
                        <i class="fa fa-envelope icon-sm">
                        </i>
                        Heroes Rescue!
                    </a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <img class="avatar-icon rounded-circle img-thumbnail"
                             src="{{ vich_uploader_asset(user, 'avatarPicture') }}">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div role="presentation"><a class="dropdown-item px-1" href="{{ path('user_edit') }}">My Profile</a></div>
                        <div role="presentation"><a class="dropdown-item  px-1" href="{{ path('user_library') }}">My
                                Collection</a></div>
                        <div role="presentation"><a class="dropdown-item  px-1" href="{{ path('user_loans') }}">My
                                Loans</a></div>
                        <div role="presentation"><a class="dropdown-item  px-1" href="{{ path('app_logout') }}">Log
                                out</a>
                        </div>
                    </div>


                </div>
            {% else %}
                <li class="nav-item  text-center {% if app.request.attributes.get("_route") == 'comic_index' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <div><i class="fas fa-user-circle icon-fas">
                            </i></div>
                        Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
