{% extends 'comicloaner.html.twig' %}

{% block title %}My Comic Library{% endblock %}

{% block body %}
    <div class="container-fluid m-0 p-0 mx-auto">
        <div class="row justify-content-around mx-auto">

            {% for comic in comics %}
                <div class="card comic-card col-sm-12 col-md-4 col-xl-2 mb-4 mx-2 p-0">
                    <div class="card-header text-dark">
                        <div class="row no-gutters p-2 m-0">
                            <div class="col-md-10 m-0">
                                <h5 class="marvel-title">{{ comic.title }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body m-0 p-0 rounded-0">
                        <img src="{{ comic.ThumbnailPicture.getPictureSquareSD }}"
                             class="card-img-top img-fluid rounded-0"
                             alt="{{ comic.title }}">
                    </div>
                    <div class="card-footer text-right py-2 px-1">
                        <div class="row p-0 m-0">
                            <div class="col-md-4 text-left">
                                <label class="switch">
                                    <input type="checkbox" id="comic-{{ userComics[loop.index0].id }}" onclick="onClickIsLoaned('{{ path('comic_loanabale', {'id': userComics[loop.index0].id}) }}', {{userComics[loop.index0].id }})" {{ userComics[loop.index0].isLoanable? 'checked' : '' }}>
                                    <span class="slider round"></span>
                                </label>
                                <div class="switch-text">Ok to loan</div>
                            </div>
                            <div class="col-md-8 text-right d-flex">
                                <button type="button" class="btn btn-danger button-readmore my-auto ml-auto">Read more ...</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <div class="navigation  mx-auto">
                {{ knp_pagination_render(comics) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function onClickIsLoaned(url, comicId) {
            event.preventDefault();
            const request = new Request(url, {method: 'GET'});
            fetch(request)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    $('#comic-' + comicId).prop( "checked",data.isLoanable);
                });
        }
    </script>
{% endblock  %}
